/*
    based on impress.js demo
*/

@font-face{
    font-family: PressStart;
    src: url('../img/PressStart2P.ttf');
}

@font-face{
    font-family: Graziano;
    src: url('../img/Graziano.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background-image:url("../img/paper_fibers.png");
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.overlay {
    height: 700px;    
}

.slide{
    display: block;    
    width: 1100px;
    height: 700px;
}

.slide-header {
    font-size: 40px;    
}

.slide-content {
    font-size: 25px;   
}

.step {
    position: relative;
    width: 1100px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
 
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.impress-enabled .step:not(.active){ opacity: 0 }

.impress-enabled .step.overlay-bd { opacity: 1 }

.presentation_title {
    text-align: left;
    padding: 20px;
    position: absolute;
    top: 40%;
}

.ex-title  {
    text-align: center;
    position: relative;
    top: 40%;
}

.title_author{
    font-family: Graziano;
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    right: 5px;
}

.sh-cmd {
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: monospace;    
}

.src-java {
    font-family: monospace;    
}

.right {
    text-align:right;
    position: absolute;
    top: 60%;
    right: 5px;   
    font-size: 35px;
}

.bytecode {
    font-family: PressStart;
    font-size: 30pt;
    margin-right: 20px;
}

.manipulation {
    display: inline-block;
    -webkit-transform: translateY(-5px);
    -moz-transform:    translateY(-5px);
    -ms-transform:     translateY(-5px);
    -o-transform:      translateY(-5px);
    transform:         translateY(-5px);       
}

.title_author .author {
     display: inline-block;
    -webkit-transform: translateY(25px);
    -moz-transform:    translateY(25px);
    -ms-transform:     translateY(25px);
    -o-transform:      translateY(25px);
    transform:         translateY(25px);
}

.title_author .slash {
    font-size: 70px;    
    
     display: inline-block;
    -webkit-transform: translateY(35px);
    -moz-transform:    translateY(35px);
    -ms-transform:     translateY(35px);
    -o-transform:      translateY(35px);
    transform:         translateY(35px);

}

.title_author .date {
    display: inline-block;
    -webkit-transform: translateY(10px);
    -moz-transform:    translateY(10px);
    -ms-transform:     translateY(10px);
    -o-transform:      translateY(10px);
    transform:         translateY(10px);  
}

.aletter {
    display: inline-block;
    -webkit-transform: translateY(10px);
    -moz-transform:    translateY(10px);
    -ms-transform:     translateY(10px);
    -o-transform:      translateY(10px);
    transform:         translateY(10px);
}

.lletter {
    display: inline-block;
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);
}

.nletter {
    display: inline-block;
    -webkit-transform: rotate(20deg);
    -moz-transform:    rotate(20deg);
    -ms-transform:     rotate(20deg);
    -o-transform:      rotate(20deg);
    transform:         rotate(20deg);
}

.lv0_indent {
    margin-left: 60px;
}

.mark {
    display: block;
    background-image: url("../img/mark.png");
    background-size: 100% 100%;
    opacity: 0.25;
    left: 10%;
    position: relative;
}

.comment {
    font-size: 18pt;
    display: block;
    float: left;
    width: 300px;
    left: -25%;
    color: black;
    position: relative;
}

.vcenter {
    position: relative;
    top: 25%;
}

#stacks-diagram-ctr {
    display: block;
    width: 900px;
    height: 700px;
    background-image: url("../img/stacks-diagram.png");
    background-size: 100% 100%;
    opacity: 1; 
}

#hex {
    display: block;
    font-family: monospace;
    font-size: 20px;
}

#example-src .sh-cmd {
    font-size: 20pt;
    position: relative;
    top: 50%; 
}

#mark-default-ctor {
    width: 100%;
    height: 200px;
    top: 15%;
    left: 0%;
}

#mark-aload0 {
    position: relative;
    top: 28%;
} 

#mark-aload0 .mark {
    width: 200px;
    height: 70px;
}

#mark-invokespecial {
    position: relative;
    top: 34%;
}

#mark-invokespecial .mark {
    width: 370px;
    height: 70px;
}

#mark-return {
    top: 40%;
    position: relative;
}

#mark-return .mark {
    width: 200px;
    height: 70px;
}

#mark-getstatic {
    top: 64%;
    position: relative;
}

#mark-getstatic .mark {
    width: 370px;
    height: 70px;
}

#mark-ldc {
    top: 70%;
    position: relative;
}

#mark-ldc .mark {
    width: 370px;
    height: 70px;
}

#mark-invokevirtual {
    top: 76%;
    position: relative;
}

#mark-invokevirtual .mark {
    width: 370px;
    height: 70px;
}

#class-to-intercept {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 25%;
    left: 25%;
}

#bytecode-sample {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 25%;
    left: 25%;
}

#final-class {
    position: absolute;
    width: 700px;
    height: 350px;
    top: 25%;
    left: 200px;
}

#new-class {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 25%;
    left: 25%;
}

.hint {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-bored .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
